*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: fit-content;
}

#state{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: red;
}

#value {
    width: 300px;
}